.content {
  margin-left: 15em;
  width: 68em;
  padding-left: 2em;
}

.content > section {
  padding-bottom: 6em;
}

.content > section > header {
  padding: 2em 0 3em 0;
}

.content > section > header h1 {
  font-size: 3em;
  text-transfrom: capitalize;
}

.content > section p {
  font-size: 1.5em;
  font-weight: 300;
  padding: 0 2em;
}
