@charset "UTF-8";

.menu {
  display: inline-block;
  vertical-align: top;
  width: 15em;
  margin-right: -.2em;
}

.menu li {
  padding-top: .3em;
}

.menu li > a {
  display: block;
  padding: .5em 0 .5em 1em;
  transition: all .2s ease-in-out;
  border-radius: .3em;
  color: gray;
}

.menu li > a:hover,
.menu li > .active {
  background-color: #efefef;
  box-shadow: 0 .2em 0 #cccccc;
  text-shadow: 0 .1em 0 #ffffff,
               0 -.1em 0 #cbcbcb;
}

.menu li > a:hover {
  color: black;
}

.menu li > .active,
.menu li > .active:hover {
  color: firebrick;
}

.menu li > a > span {
  font-size: 1.25em;
}

.menu .sub-menu {
  padding-left: 1em;
}
